@font-face{
    font-family: pressTwoPlayer;
    src:url('./assets/PressStart2P-Regular.ttf')
}

*{
    margin: 0;
    padding: 0;
    font-family: 'pressTwoPlayer';
}

html{
    background-color: grey;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(110, 110, 110);
    height: 19vh;
    
}

.website-title-container{
    display: flex;
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icons-container{
    position: absolute;
    right: 0;
    padding: 20px;
    margin: 20px; 
}

.website-title-text{
    font-family:'pressTwoPlayer';
    font-size: 25px;
    font-weight: bold;
    color: lightblue;
    text-shadow: 5px 5px rgb(56, 70, 75);
}

.header-icon-image{
    width: 50px;
    height: 50px;
    margin: 20px;
    box-shadow: 5px 5px rgb(56, 70, 75);
    background-color: rgb(173, 216, 230);
    border-radius: 50%;
    cursor: pointer;
}

.logo-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 5px 5px rgb(56, 70, 75);
}

.button{
    transition-property: box-shadow, translate, border;
    transition: 500ms;
}   

.button:hover{
    box-shadow: none;
    translate: 5px 5px;
    border: 1px solid black;
    background-color: rgb(212, 242, 252);
}

.website-title-container:hover > *{
    transition: 500ms;
    translate: 5px 5px;
    box-shadow: none;
    text-shadow: none;
    color: rgb(212, 242, 252);
}

.back-button{
    position: absolute;
    left: 0;
    margin-left: 100px; 
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
    background-color: rgb(173, 216, 230);
    box-shadow: 5px 5px rgb(56, 70, 75);
    font-family: pressTwoPlayer;
}

.back-button:hover{
    transition: 500ms;
    box-shadow: none;
    translate: 5px 5px;
    border: 1px solid black;
    background-color: rgb(212, 242, 252);
}

/* ----------------------------------------------------------------------- */
.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
} 

.sports-container{
    height: 24.5vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'pressTwoPlayer';
    border-radius: 20px;
    box-shadow: 15px 15px rgb(56, 70, 75);
    cursor: pointer;
}

.basketball-container{
    /* background-image: url(./assets/basketball.png); */
    background-color: rgb(204, 133, 0);
    background-size: cover;
    background-position: center;
    color: black;
    margin-top:15px;
}
.football-container{
    /* background-image: url(./assets/football.png); */
    background-color: rgb(75, 40, 7);
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}
.soccer-container{
    /* background-image: url(./assets/soccer.png); */
    background-color: rgb(0, 126, 0);
    background-size: cover;
    background-position: center;
}

.sports-container:hover{
    transition: 500ms;
    box-shadow: none;
    translate: 5px 5px;
}

.basketball-container:hover{
    transition: 500ms;
    background-color: rgb(255, 166, 0);
}

.football-container:hover{
    transition: 500ms;
    background-color: rgb(156, 86, 20);
}

.soccer-container:hover{
    transition: 500ms;
    background-color: rgb(2, 214, 2);
    
}
/*---------------------------------------------------------------------------*/

.basketball-games-container{
    display: flex;
    flex-flow: row wrap;
    height: 81vh;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
}

.basketball-game-container{
    display:flex;
    flex: 1 0 50%;
    max-width: 40%; 
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    margin: 25px;
    font-family: pressTwoPlayer;
    border-radius: 20px;
    box-shadow: 15px 15px rgb(56, 70, 75);
    cursor: pointer;
}

.basketball-game-container:hover{
    transition: 500ms;
    box-shadow: none;
    translate: 5px 5px;
}

.wordle-container{
    background-color: #45638a;
}

.guess-who-container{
    background-color: #be4242;
}

.tbd-container-1{
    background-color: #c06232;
}

.tbd-container-2{
    background-color: #c2a24a;
}

.wordle-container:hover{
    background-color: #7eb6ff;
}

.guess-who-container:hover{
    background-color: #ff5757;
}

.tbd-container-1:hover{
    background-color: #ff8142;
}

.tbd-container-2:hover{
    background-color: #ffd560;
}

/*-------------------------------------------------------------------------------------------*/

.wordle-body-container{
    width: 100%;
    height: 81vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    }

.hardle{
    margin: 2vh;
    border: 5px solid black;
    padding: 25px;
    border-radius: 20px;
    background-color: #7eb6ff;
}

.wordle-search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh;
    gap: 2vw;
}

.magnifying-glass{
    width: 7vh;
    height: 7vh;
}

.guess-box{
    border: 5px solid black;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 15px 15px rgb(56, 70, 75);
    background-color: #a87300;
    font-size: 30px;
}

.guess-box:focus{
    transition: 500ms;
    box-shadow: none;
    translate: 5px 5px;
    background-color: #e29b00;
}

.guess-button{
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px rgb(56, 70, 75);
    background-color: #16a703;
    cursor: pointer;
}

.hint-button{
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px rgb(56, 70, 75);
    background-color: #afac00;
    cursor: pointer;
}

.guess-button:hover{
    transition: 500ms;
    box-shadow: none;
    translate: 5px 5px;
    background-color: #1eff00;
}

.hint-button:hover{
    transition: 500ms;
    box-shadow: none;
    translate: 5px 5px;
    background-color: #fffb00;
}
.guess-result-container{
    translate: -4.5vw;
}

.guessLetter{
    display: inline-flex;
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: #7eb6ff;
    translate: 10 px;
    justify-content: center;
    align-items: center;
    color: white;
}

.yellow{
    background-color: rgb(175, 175, 0);
}

.green{
    background-color: rgb(0, 95, 0);
}

.white{
    background-color: rgb(58, 58, 58);
}

.guess-box:disabled{
    transition: 500ms;
    box-shadow: none;
    translate: 5px 5px;
    background-color: #e29b00;
}

.guess-button:disabled{
    transition: 500ms;
    box-shadow: none;
    translate: 5px 5px;
    background-color: #1eff00;
    cursor:default;
}

.hint-button:disabled{
    transition: 500ms;
    box-shadow: none;
    translate: 5px 5px;
    background-color: #fffb00;
    cursor:default;
}

.modal-overlay{
    position: fixed;
    /* left: 650px;
    top: 550px; */
}
.modal-content{
    display: flex;
    width:25vw;
    height:25vh;
    flex-direction: column;
    border: 5px solid black;
    padding: 20px;
    border-radius: 20px;
    background-color: #fffb00;
    justify-content: center;
    align-items: center;
}

.hint-header{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 3px solid black;
    margin-top: 20px;
    padding: 15px;
    border-radius: 20px;
    background-color: #7eb6ff;
}

.close-button{
    position: absolute;
    right: 15px;
    top: 15px;
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
    border-radius: 40%;
    box-shadow: 5px 5px rgb(56, 70, 75);
    background-color: red;
    cursor: pointer;
    color: white;
}

.close-button:hover{
    transition: 500ms;
    box-shadow: none;
    translate: 5px 5px;
    background-color: rgb(131, 0, 0);
}

.hint-text{
    margin: 20px;
    margin-top: 30px;
    padding: 20px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #7eb6ff;
    text-align: center;
}

.arrow{
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
    border-radius: 40%;
    box-shadow: 5px 5px rgb(56, 70, 75);
    background-color: rgb(173, 216, 230);
    cursor: pointer;
}

.left-arrow{
    position: absolute;
    left: -2vh;
    top: 45%;
}

.right-arrow{
    position: absolute;
    right: -2vh;
    top: 45%;
}

.win-message-container{
    position: fixed;
    display: flex;
    width:20vw;
    height:20vh;
    flex-direction: column;
    border: 5px solid black;
    padding: 20px;
    border-radius: 20px;
    background-color: #fffb00;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3;
}

