html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25%;
}

.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input, button {
  margin: 10px;
  padding: 10px;
  font-size: large;
}

input {
  flex-grow: 1;  
  border-radius: 20px;
  min-width: 300px;
}

button {
  cursor: pointer;
  white-space: nowrap;  
  
}
button:hover{
  border: 2px solid #999;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
  background-color: #14b356;
  transform: scale(1.05);
  transition: all 0.3s ease;
  outline-color: black;
}
#magnifying-glass
{
  padding-right: 10px;
  transition: box-shadow 0.3s ease-in-out;
}
#magnifying-glass:hover
{
  box-shadow: 0 0 8px #0056b3;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  height: 23%;
  width: 500px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.modal-content h2 {
    font-size: 24px; 
    font-weight: 700; 
    color: #333; 
    text-align: center;
    margin-bottom: 15px; 
    padding-left: 50px;
}

.modal-content p {
    font-size: 16px; 
    color: #666; 
    text-align: center;
}
#hint-box-button
{
  display: block;
  margin: 20px auto;
  height: 40px;
  text-align:center;
}
#hint-box-button:active {
  animation: clickAnimation 0.2s ease;
}
.hint-header {
  display: flex;
  align-items: center; 
  justify-content: center; 

}
.hint-buttons
{
  display: flex;
  align-items: center;
}

#arrows:hover {
  background-color: #0056b3;
}
.hint-buttons button:disabled {
  background-color: white;
  cursor: not-allowed;
}